{%extends "base.html"%}
{% load static %}

{%block head%}
{{block.super}}
<link rel="stylesheet" href="{% static "css/styles.css"%}">
{%endblock%}

{%block tittle%}
{%endblock%}

{%block body%}

<div class="container">
    <div class="login-form">
        <div class="form-header">
            <a title="Ministerio de Economia" href="http://meconse.gob.ar/">
                <img src="{% static "images/escudoeco.png" %}" alt="Ministerio de Economia" class="logo-economia"/>
            </a>          
            <h2> RECIBOS DIGITALES</h2>
        </div>
        <form method="post" action="{% url 'login' %}" class="form-signin pt-4">
            {%csrf_token%}
            {% for x in form %}
                <div class="form-group d-flex justify-content-center py-2">		                                        
                    <div class="col-md-11">
                        <div class="input-group">
                            {{x}}
                        </div>
                        {% if x.input_type == "password" %}
                                <button class="btn btn-primary" type="button" title="Mostrar Contraseña"> 
                                    <span class="fa fa-eye-slash icon"></span>
                                </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group pt-2 d-flex justify-content-center">
                    <button class="btn btn-block bt-login col-sm-11" type="submit" value="Iniciar">Iniciar sesión</button> 
            </div> 
        </form>
        <div class="form-footer">
            <div class="d-flex flex-column py-1 text-center">

                <p>Si no es usuario, por favor <a href="register.php">registrarse aqu&iacute</a>.</p>
                <p><a href="#">&iquest;Olvid&oacute; su contraseña?</a></p>

            </div>
        </div>

    </div>
</div>
        
{%endblock%}

{%block script%}
{{block.super}}
{%endblock%}